.mainnav {
  margin: 20px 0px;
}
.product {
  margin-top: 7px;
}
.nomargin {
  margin: 0px;
}
.marginLT {
  margin-top: -27px;
  margin-left: 10px;
}
.marginT {
  margin-top: -27px;
}
.marginTm {
  margin-top: -15px;
}
.marginTs {
  margin-top: -7px;
}
.marginB {
  margin-bottom: 10px;
}
.marginC {
  margin-bottom: 20px;
}
.well {
  margin-bottom: 0px;
}
.clear {
  background-color: #FFFFFF;
}