{% extends './layout.html' %}
{% block content %}
  <div><h3>All Categories</h3></div>
  <div class="well">
      <div><h4>Add a Category</h4></div>
      <form action="/categories" method="POST">
        <label for="name_field">Category Name:</label>
        <input name="name" type="text" size="50px" class="marginB" placeholder="..." />
        <button class="btn" type="submit">Submit</button>
      </form>
  </div>
  {% for category in categories %}
    <div class="well clear">
      <a href="/categories/{{ category.id }}">{{ category.name }}</a>
      <form action="/categories/{{ category.id }}?_method=DELETE" method="POST">
        <button class="btn btn-danger marginT pull-right" type="submit">Delete</button>
      </form>
    </div>
  {% endfor %}
{% endblock %}