{% extends './layout.html' %}
{% block content %}
  <div><h3>All Products</h3></div>
  <div class="well">
      <div><h4>Add a Product</h4></div>
      <form action="/products" method="POST">
        <label for="name_field">Product Name:</label>
        <input name="name" type="text" size="50px" class="marginB" placeholder="..." />
        <button class="btn" type="submit">Submit</button>
      </form>
  </div>
  {% for product in products %}
    <div class="well clear">
      <a href="/products/{{ product.id }}">{{ product.name }}</a>
      <form action="/products/{{ product.id }}?_method=DELETE" method="POST">
        <button class="btn btn-danger marginT pull-right" type="submit">Delete</button>
      </form>
    </div>
  {% endfor %}
{% endblock %}